.sidebar-custom{
    background-color: #f2eccf;
    color: #333 !important;
    position: fixed;
    min-height:100%;
    border-right: 1px solid #33333324;
    /* overflow-y:scroll; */
    /* overflow-x:hidden; */
    /* color: #2785ff; */
  }
  .sidebar-link{
    margin-left: 20px;
    color:#333 !important;
    text-align:left;
  }
  .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T{
      padding: 10px;
  }
  .sidebar-link:hover,.sidebar-link:active{
    text-decoration: none;
  }
  .sidenav---icon-bar---u1f02{
    background-color:#333 !important;
  }
  
  .sidenav---sidenav-nav---3tvij 
    > .sidenav---sidenav-navitem---uwIJ- 
      > .sidenav---navitem---9uL5T{
        text-align: left;
  }
  .sidebar-link{
    margin-left: 20px;
    color:#333 !important;
    text-align:left;
  }
  .sidebar-link:hover,.sidebar-link:active{
    text-decoration: none;
  }
    
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-{
    border-bottom:1px solid #33333329;  
  }
  
  .sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL .sidenav---sidenav-nav---3tvij > 
    .sidenav---sidenav-navitem---uwIJ-.sidenav---expanded---1KdUL .sidenav---sidenav-subnav---1EN61{
      border-bottom:1px solid #33333329
  }